#flexContainer {
    display: flex;
    flex-wrap: wrap;
}
.flexItem {
    display: flex;
    background-color: #4CAF50;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: auto;
    flex: 1 0 calc(100% / 16);
    box-sizing: border-box;
    border: 1px solid black;
    aspect-ratio: 1 / 1;
}